LibrosSW.Cliente/Connected Services/LibrosServiceReference/LibrosWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLibros">
        <s:complexType />
      </s:element>
      <s:element name="GetLibrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLibrosResult" type="tns:ArrayOfLibro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLibro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Libro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdLibro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaLanzamiento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Autor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Editorial" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Idioma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetLibrosSoapIn">
    <wsdl:part name="parameters" element="tns:GetLibros" />
  </wsdl:message>
  <wsdl:message name="GetLibrosSoapOut">
    <wsdl:part name="parameters" element="tns:GetLibrosResponse" />
  </wsdl:message>
  <wsdl:portType name="LibrosWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLibros">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve la lista de Libros </wsdl:documentation>
      <wsdl:input message="tns:GetLibrosSoapIn" />
      <wsdl:output message="tns:GetLibrosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibrosWebServiceSoap" type="tns:LibrosWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibros">
      <soap:operation soapAction="http://tempuri.org/GetLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LibrosWebServiceSoap12" type="tns:LibrosWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLibros">
      <soap12:operation soapAction="http://tempuri.org/GetLibros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibrosWebService">
    <wsdl:port name="LibrosWebServiceSoap" binding="tns:LibrosWebServiceSoap">
      <soap:address location="https://localhost:44315/LibrosWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LibrosWebServiceSoap12" binding="tns:LibrosWebServiceSoap12">
      <soap12:address location="https://localhost:44315/LibrosWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>